SIMPLE_MONITOR_DB_USER=test
SIMPLE_MONITOR_DB_PASSWORD=test
SIMPLE_MONITOR_DB_NAME=test

SIMPLE_MONITOR_BACKEND_PORT=8080
SIMPLE_MONITOR_FRONTEND_PORT=3000
SIMPLE_MONITOR_BACKEND_URL=http://192.168.0.123:8080
